{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          ">0.2%",
          "not dead",
          "not ie <= 11",
          "not op_mini all"
        ],
        "node": "current"
      },
      "useBuiltIns": true,
      "debug": true
    }],
    [ "es2015", "stage-0"]
  ]
}
